<table class="table table-striped">
  <thead>
  <tr>
    <th>Guid</th>
    <th>Url</th>
    <th>Datetime</th>
  </tr>
  </thead>
  <tbody>
    <% @usertracks.each do |usertrack| %>
      <tr>
        <td><%= usertrack.guid %></td>
        <td><%= usertrack.url %></td>
        <td><%= usertrack.datetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>