<h1>User Tracking History</h1>

<table>
  <thead>
    <tr>
      <th>Guid</th>
      <th>Url</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usertracks.each do |usertrack| %>
      <tr>
        <td><%= usertrack.guid %></td>
        <td><%= usertrack.url %></td>
        <td><%= usertrack.datetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>