<ul class="demo-list-icon mdl-list">
    <% @contacts.each do |contact| %>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">person</i>
          <%= contact.name %> <%= contact.email %>
        </span>
        </li>
    <% end %>
</ul>